{{ form_start(form, {'attr': {'class':'column has-text-centered'}}) }}
    {{ form_row(form.year) }}
    <div class="field">
        <div class="label has-text-weight-bold">Galerie</div>
        {{ form_row(form.year_directory) }}
        <div class="help">
            Selectionnez une galerie à cette oeuvre
        </div>
    </div>
    <div class="field">
        <div class="label has-text-weight-bold">Top position</div>
        {{ form_row(form.topPosition) }}
        <div class="help">
            Indiquer la position de la peinture dans le top 10, (présent en page d'accueil)
        </div>
    </div>
    {{ form_row(form.titre) }}
    {{ form_row(form.file) }}
    {% if oeuvre.fileName %}
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center field">
            <figure class="is-relative">
                <img class="has-max-height-40vh" src="{{ asset('/images/oeuvres/' ~ oeuvre.fileName )}}" alt="{{ oeuvre.titre }}" title="{{ oeuvre.fileName }}">
            </figure>
            <span> <b>Fichier actuel</b> : {{ oeuvre.fileName }}</span>
        </div>
    {% endif %}

    {{ form_row(form.description) }}

    <button class="button is-info is-outlined is-small has-font-poppins">Valider</button>
{{ form_end(form) }}
