{% extends 'base.html.twig' %}

{% block title %}Gestion des oeuvres{% endblock %}

{% block body %}

    <div class="container px-4 py-6">

        <h1 class="title">Gestion des oeuvres</h1>

        <div class="column">
            <span class="help">Filtre :</span>
            <div class="tags">
                {% for galerie in all_galeries %}
                    <div class="button tag is-small is-dark is-active" onclick="filtreByGalery(this,{{ galerie.id|raw }})">{{ galerie.year }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="column">
            <a class="button is-small is-dark" href="{{ path('oeuvre_new') }}">Ajouter une oeuvre</a>
        </div>

        <div class="table-wrapper-desktop">
            <table class="table" style="margin: auto">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Année</th>
                    <th>Galerie</th>
                    <th class="is-hidden-touch">Fichier image</th>
                    <th>Gestion</th>
                </tr>
                </thead>
                <tbody>
                {% for oeuvre in oeuvres %}
                    <tr class="{{ oeuvre.yearDirectory.id|raw }}">
                        <td>
                            <span class="help">
                                {{ oeuvre.id }}
                            </span>
                        </td>
                        <td>{{ oeuvre.titre }}</td>
                        <td>{{ oeuvre.year }}</td>
                        <td>
                            {% if oeuvre.yearDirectory %}
                                <a href="{{ path('gallery_year', {'id_gallery': oeuvre.yearDirectory.id }) }}" title="Se rendre à la galerie {{ oeuvre.yearDirectory }}">{{ oeuvre.yearDirectory }}</a>
                            {% else %}
                                <span class="is-italic has-text-weight-light">(Vide)</span>
                            {% endif %}
                        </td>
                        <td class="has-text-centered is-relative is-hidden-touch">
                            {% if oeuvre.fileName %}
                                <div class="">
                                    <img style="bottom: 100%;left: 0" class="is-hidden is-absolute has-max-height-20vh has-border-dark-2px" src="{{ asset('/images/oeuvres/' ~ oeuvre.fileName ) | imagine_filter('vignette') }}" alt="{{ oeuvre.titre }}" title="{{ oeuvre.fileName }}">
                                    <span class="icon has-text-dark is-hoverable-help-cursor" onmouseenter="showPrevOnHover(this)" onmouseleave="hidePrevOnHover(this)">
                                    <i class="fas fa-lg fa-eye"></i>
                                </span>
                                </div>
                            {% else %}
                                <span class="has-text-weight-light is-italic is-hoverable-help-cursor" title="Sans fichier image">(Vide)</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="is-flex is-justify-content-space-between is-align-items-center">
                                <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}" title="Voir les détails de cette oeuvre">
                                <span class="icon has-text-dark">
                                    <i class="fas fa-lg fa-search"></i>
                                </span>
                                </a>
                                <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}" title="Modifier cette oeuvre">
                                <span class="icon has-text-dark">
                                    <i class="fas fa-lg fa-edit"></i>
                                </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucune oeuvres trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
