{% extends 'base.html.twig' %}

{% block title %}Gestion des oeuvre{% endblock %}

{% block body %}

    <div class="container pt-6 mt-6">

        <h1 class="title">Gestion des oeuvres</h1>

        <a class="button is-small is-info" href="{{ path('oeuvre_new') }}">Ajouter une oeuvre</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
{#                <th>Description</th>#}
                <th>Fichier</th>
                <th>Annee</th>
                <th>Gestion</th>
            </tr>
            </thead>
            <tbody>
            {% for oeuvre in oeuvres %}
                <tr>
                    <td>{{ oeuvre.id }}</td>
                    <td>{{ oeuvre.titre }}</td>
{#                    <td>{{ oeuvre.description|raw }}</td>#}
                    <td>{{ oeuvre.fileName }}</td>
                    <td>{{ oeuvre.yearDirectory }}</td>
                    <td>
                        <a href="{{ path('oeuvre_show', {'id': oeuvre.id}) }}">Voir</a>
                        <a href="{{ path('oeuvre_edit', {'id': oeuvre.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune oeuvres trouvées</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
