{% extends 'base.html.twig' %}

{% block title %}Gallerie - {{ year }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-info is-size-1 has-text-weight-bold has-font-playfair">
                {{ year }}
            </h1>

            <div class="is-flex-desktop columns is-multiline is-justify-content-center">
                {% set i = 0 %}
                {% for oeuvre in oeuvres %}
                    <div class="column has-text-centered has-border-thin has-border-radius-3px is-relative is-full-touch mb-5 mx-3 has-background-white-bis {% if i is divisible by(4) %} is-full-desktop {% else %} is-one-quarter-desktop{% endif %}">

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('oeuvre_edit', {'id': oeuvre.id }) }}" class="button is-dark is-small is-absolute is-top-0 is-left-0">
                                Editer cette oeuvre
                            </a>
                        {% endif %}

                        <div class="column is-flex is-justify-content-center">
                            <div class="modal">
                                <div class="modal-background" onclick="closeModal(this)"></div>
                                <img class="img-galery z-index-more-1 has-max-height-90vh" src="{{ asset('/images/oeuvres/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}">
                                <button class="modal-close is-large" aria-label="close" onclick="closeModal(this)"></button>
                            </div>
                            <img class="has-max-height-50vh btn-for-display-popup is-hoverable-zoom-in" src="{{ asset('/images/oeuvres/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}" title="{{ oeuvre.titre }}">
                        </div>

                        <h2 class="subtitle has-text-centered has-text-weight-bold">
                            {{ oeuvre.titre }}
                        </h2>

                        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-max-width-500px has-font-playfair" style="margin: auto">
                            {{ oeuvre.description|raw }}
                        </div>

                    </div>
                    {% set i = i+1 %}
                {% endfor %}
            </div>


        </div>
    </section>
{% endblock %}
