{% extends 'base.html.twig' %}

{% block title %}Gallerie - {{ year }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-size-1 has-text-weight-bold">
                {{ year }}
            </h1>

            {% set i = 0 %}
            {% for oeuvre in oeuvres %}
                <div class="box {% if i is odd %} has-background-grey-lighter{% endif %}">

                    <div class="column is-flex is-justify-content-center">
                        <img class="has-max-height-50vh" src="{{ asset('build/images/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}">
                    </div>

                    <h2 class="subtitle">
                        {{ oeuvre.titre }}
                    </h2>

                    <p>
                        {{ oeuvre.description }}
                    </p>
                </div>
                {% set i = i+1 %}
            {% endfor %}

        </div>
    </section>
{% endblock %}
