<nav class="navbar is-fixed-top has-background-light-transparent-75" role="navigation" aria-label="main navigation">
    <div class="column is-flex is-flex-direction-row is-justify-content-space-between">
        <div>
            <a class="navbar-item has-text-weight-bold" href="{{ path('home') }}">
                Mon site (Accueil/logo)
            </a>
        </div>


        {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-menu">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Gestion
                    </a>

                    <div class="navbar-dropdown">
                        <a href="{{ path('year_directory_index') }}" class="navbar-item">
                            Galeries
                        </a>
                        <a href="{{ path('oeuvre_index') }}" class="navbar-item">
                            Oeuvres
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
{#                    <div class="buttons">#}
                        <a class="button is-small is-danger" href="{{ path('app_logout') }}">
                            Deconnexion
                        </a>
{#                    </div>#}
                </div>
            </div>
        {% endif %}

        <div class="is-flex is-justify-content-center is-align-items-center px-3">
            {{ include('includes/layeout/menu_burger.html.twig') }}
        </div>
    </div>



</nav>