<nav class="navbar is-fixed-top has-background-light" role="navigation" aria-label="main navigation">
    <div class="column is-flex is-flex-direction-row is-justify-content-space-between">
        <div>
            <a class="navbar-item has-text-weight-bold" href="{{ path('home') }}">
                Jacques TOUPET
            </a>
        </div>


        {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-menu">
                <div class="navbar-item">
                    <a class="button is-small is-danger" href="{{ path('app_logout') }}">
                        Deconnexion
                    </a>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Gestion
                    </a>
                    <div class="navbar-dropdown">
                        <a href="{{ path('text_menu_burger_edit', {'id': text_menu_burger.id} ) }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                            Modifier la biographie
                        </a>
                        <a href="{{ path('expo_edit', {'id': expo.id} ) }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                            Modifier la rubrique exposition
                        </a>
                        <a href="{{ path('year_directory_index') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                            Liste des galeries
                        </a>
                        <a href="{{ path('oeuvre_index') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                            Liste des peintures
                        </a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('admin_index') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                            Comptes Administrateurs
                        </a>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_edit', {'id': app.user.id}) }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                Modifier mon compte
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="is-flex is-justify-content-center is-align-items-center px-3">
            {{ include('includes/layeout/menu_burger.html.twig') }}
        </div>
    </div>



</nav>