
<div id="menu-slide" class="is-absolute-fullscreen has-max-height-100vh has-transition-7-ms is-left-100 is-top-0 opacity-0 has-background-white-ter is-bold">

    {% if is_granted('ROLE_ADMIN') %}
    <div class="is-absolute is-flex is-flex-direction-column is-width-100 is-hidden-desktop">
        <div class="column">
            <a class="button is-small is-danger" href="{{ path('app_logout') }}">
                Deconnexion
            </a>
        </div>
        <div class="column is-flex is-justify-content-space-evenly has-text-weight-bold">
            <a href="{{ path('year_directory_index') }}" class="">
                Galeries
            </a>
            <a href="{{ path('oeuvre_index') }}" class="">
                Oeuvres
            </a>
        </div>
    </div>
    {% endif %}

    <div class="is-flex is-justify-content-center is-align-items-center" style="height: 100%;width: 100%">
        <div class="column is-flex-desktop">
            <div class="column px-6 is-flex is-align-items-center">
                <p class="has-text-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque iure neque optio praesentium ullam. Aspernatur fugiat impedit incidunt iste labore neque officiis provident recusandae similique temporibus vero, voluptate voluptatum? Officia?
                </p>
            </div>
            <div class="column px-6 is-flex is-align-items-center">
                <div class="columns has-text-info is-multiline is-flex is-align-items-center">
                    {% for galerie in galeries %}
                        {% if galerie.year %}
                            <a class="column has-transition-5-ms is-half has-text-weight-bold is-size-4 has-text-centered" href="{{ path('gallery_year', {'id_gallery': galerie.id}) }}">
                                {{ galerie.year }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

    <a id="burger" onclick="burgerAnimation(this); slideFromRight('menu-slide')">

        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
        <div class="bars-centrales">
            <span class="bar4"></span>
        </div>

    </a>