


<div id="menu-slide" class="is-absolute-fullscreen has-max-height-100vh has-transition-7-ms is-right-100 is-top-0 opacity-0 visibility-hidden has-background-white-ter is-bold has-max-width-60vw-touch">
    <div id="background-menu-burger" class="has-background-transparent" onclick="burgerAnimation(document.getElementById('burger')); slideFromRight('menu-slide')"></div>


        <div class="column is-absolute is-bottom-0 is-flex is-justify-content-end has-text-weight-bold is-width-100" style="z-index: 2">
            <div class="buttons">
                <div class="dropdown is-right is-up" onclick="activeDropDownButton(this)">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>Menu</span>
                            <span class="icon is-small">
                            <i class="fas fa-angle-up" aria-hidden="true"></i>
                        </span>
                        </button>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu" onmouseleave="activeDropDownButton(this.parentElement)">
                            <div class="dropdown-content">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('admin_index') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Comptes Administrateurs
                                    </a>
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_edit', {'id': app.user.id}) }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Modifier mon compte
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('year_directory_index') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Liste des galeries
                                    </a>
                                    <a href="{{ path('oeuvre_index') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Liste des peintures
                                    </a>
                                    <a href="{{ path('text_menu_burger_edit', {'id': text_menu_burger.id} ) }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Modifier la biographie
                                    </a>
                                    <a href="{{ path('expo_edit', {'id': expo.id} ) }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Modifier la rubrique exposition
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item" href="{{ path('app_logout') }}" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                        Deconnexion
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu" onmouseleave="activeDropDownButton(this.parentElement)">
                            <div class="dropdown-content">
                                <a href="{{ path('app_login') }}" class="dropdown-item" onmouseover="this.classList.toggle('is-active')" onmouseleave="this.classList.toggle('is-active')">
                                    Connexion
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


    <div class="is-hidden-desktop has-background-info is-height-100 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
{#        <div class="">#}
            {{ include('includes/nav_links_menu_burger.html.twig') }}
{#        </div>#}
    </div>

    <div class="is-hidden-touch is-flex-desktop is-justify-content-center is-align-items-center container" style="height: 100%;width: 100%">
        <div class="column is-flex-desktop has-max-height-80vh is-align-items-center px-0 py-0" style="overflow: auto">
            <div class="column is-one-third-desktop px-6 py-6 is-flex is-flex-direction-column is-align-items-start is-justify-content-center has-background-info menu-burger-orange-square">
                {{ include('includes/nav_links_menu_burger.html.twig') }}
            </div>

            <div id="menu-3" class="menu-burger-block-right column is-two-thirds is-full-touch has-transition-7-ms is-flex is-justify-content-center out-of-screen pb-6">
                <div class="column is-flex is-justify-content-center overflow-y-auto">
                    <div class="columns is-multiline is-flex-desktop has-text-info is-align-items-center">
                        {% set i = 0 %}
                        {% for galerie in galeries %}
                                <div class="column is-one-quarter is-flex-touch has-text-centered">
                                    <a class="column has-transition-7-ms has-font-2 has-text-weight-bold is-size-4-desktop is-size-7-touch has-text-centered has-text-info {% if app.request.get('id_gallery') == galerie.id %}opacity-05{% endif %}" href="{{ path('gallery_year', {'id_gallery': galeries[i].id}) }}">
                                        {{ galerie.yearend }}
                                        <br><span class="has-text-weight-bold is-size-4-desktop has-text-centered has-text-info has-font-2">/</span><br>
                                        {{ galerie.yearstart }}
                                    </a>
                                </div>
                            {% set i = i+1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div id="menu-2" class="menu-burger-block-right column is-full-touch has-transition-7-ms is-flex is-justify-content-center">
                <div class="column">
                    <div class="is-flex-desktop has-text-info pb-4 overflow-y-auto is-height-80vh-desktop is-relative">
                        {{ include('includes/bio.html.twig') }}
                    </div>
                </div>
            </div>


            <div id="menu-1" class="menu-burger-block-right column is-full-touch has-transition-7-ms is-flex is-justify-content-center out-of-screen pb-6">
                <div  class="column is-two-thirds is-flex is-justify-content-center overflow-y-auto">
                    <div class="has-text-info">
                        {{ expo.text|raw }}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

    <a id="burger" onclick="burgerAnimation(this); slideFromRight('menu-slide')">

        <span class="bar1 has-transition-5-ms"></span>
        <span class="bar2 has-transition-5-ms"></span>
        <span class="bar3 has-transition-5-ms"></span>
        <div class="bars-centrales">
            <span class="bar4 has-transition-5-ms"></span>
        </div>

    </a>