    <div class="is-relative block-peinture py-5 opacity-0 visibility-hidden has-transition-1-s is-two-fifths-desktop is-full column py-0 px-0" >
        <div class="column px-0 has-text-centered-touch {% if i is divisible by(2) and i != 0 %}translateY-30-desktop{% endif %}">

            <figure class="figure is-relative">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id }) }}" class="button is-dark has-transition-5-ms is-small is-absolute is-top-0 is-left-0" title="Modifier cette oeuvre">
                        <span class="icon">
                            <i class="fas fa-lg fa-pencil-alt"></i>
                        </span>
                    </a>
                {% endif %}
                <div class="modal opacity-0 has-transition-5-ms">
                    <div class="modal-background" onclick="closeModal(this)"></div>
                    <figure class="z-index-more-1 is-flex-direction-column is-flex is-align-items-center">
                        {% if oeuvre.fileName %}
                            <img class="img-galery has-max-height-80vh" src="{{ asset('/images/oeuvres/' ~ oeuvre.fileName) }}" alt="{{ oeuvre.fileName }}">
                        {% else %}
                            <img class="img-galery has-max-height-80vh" src="{{ asset('/build/images/480x320.86ac0bc4.png') }}" alt="Fichier image manquant">
                        {% endif %}
                    </figure>
                    <button class="modal-close is-large" aria-label="close" onclick="closeModal(this)"></button>
                </div>

                {% if oeuvre.fileName %}
                    <img width="100%" class="btn-for-display-popup is-hoverable-zoom-in" src="{{ asset('/images/oeuvres/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}" title="{{ oeuvre.titre }}">
                {% else %}
                    <img class="img-galery has-max-height-80vh btn-for-display-popup is-hoverable-zoom-in" src="{{ asset('/build/images/480x320.86ac0bc4.png') }}" alt="Fichier image manquant">
                {% endif %}

            </figure>

            <h3 class="has-text-left has-text-weight-bold has-font-playfair has-text-black has-text-left has-text-centered-touch">
                {{ oeuvre.titre }}
            </h3>

            <span class="has-text-weight-bold">
                {{ oeuvre.year }}
            </span>

            <div class="help has-text-black has-text-left has-text-centered-touch">
                {{ oeuvre.description|raw }}
            </div>

            {% if route is defined and route == 'home' %}
                <div class="has-text-right mt-2">
                    <a class="button is-small has-transition-5-ms is-grey is-outlined z-index-more-1" href="{{ path('gallery_year', {'id_gallery': oeuvre.yeardirectory.id}) }}" onmouseover="extend(this)" onmouseleave="retract(this)" onclick="extend(this)">
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span style="overflow: hidden" class="is-width-0vw has-transition-5-ms text">
                            {{ oeuvre.yeardirectory.yearstart }} / {{ oeuvre.yeardirectory.yearend }}
                        </span>
                    </a>
                </div>
            {% endif %}

        </div>
    </div>


