    <div class="is-relative">
        <div class="column px-0 mb-6 py-6 has-text-centered-touch">

            <figure class="figure is-relative">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('oeuvre_edit', {'id': oeuvre.id }) }}" class="button is-dark has-transition-5-ms is-small is-absolute is-top-0 is-left-0" title="Modifier cette oeuvre">
                        <span class="icon">
                            <i class="fas fa-lg fa-pencil-alt"></i>
                        </span>
                    </a>
                {% endif %}
                <div class="modal opacity-0 has-transition-5-ms">
                    <div class="modal-background" onclick="closeModal(this)"></div>
                    <figure class="z-index-more-1 is-flex-direction-column is-flex is-align-items-center">
                        {% if oeuvre.fileName %}
                            <img class="img-galery has-max-height-80vh" src="{{ asset('/images/oeuvres/' ~ oeuvre.fileName) }}" alt="{{ oeuvre.fileName }}">
                        {% else %}
                            <img class="img-galery has-max-height-80vh" src="{{ asset('/build/images/480x320.86ac0bc4.png') }}" alt="Fichier image manquant">
                        {% endif %}
                    </figure>
                    <button class="modal-close is-large" aria-label="close" onclick="closeModal(this)"></button>
                </div>

                {% if oeuvre.fileName %}
                    <img width="100%" class="btn-for-display-popup is-hoverable-zoom-in" src="{{ asset('/images/oeuvres/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}" title="{{ oeuvre.titre }}">
                {% else %}
                    <img class="img-galery has-max-height-80vh btn-for-display-popup is-hoverable-zoom-in" src="{{ asset('/build/images/480x320.86ac0bc4.png') }}" alt="Fichier image manquant">
                {% endif %}

            </figure>

            <h3 class="has-text-left has-text-weight-bold has-font-playfair has-text-black has-text-left has-text-centered-touch">
                {{ oeuvre.titre }}
            </h3>

            <span class="has-text-weight-bold">
                {{ oeuvre.year }}
            </span>

            <div class="help has-text-black has-text-left has-text-centered-touch">
                {{ oeuvre.description|raw }}
            </div>

        </div>
    </div>


