{% extends 'base.html.twig' %}

{% block title %}Modifier la galerie{% endblock %}

{% block body %}
<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center py-6">
    <div class="column buttons is-full is-flex is-justify-content-start">
        <a class="button is-small is-dark" href="{{ path('year_directory_index') }}">Retour à la liste des galeries</a>
        <a class="button is-small is-dark" href="{{ path('gallery_year', {'id_gallery': year_directory.id}) }}">Parcourir cette galerie</a>
    </div>

    <h1 class="title">Modifier la galerie</h1>

    {{ include('year_directory/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('year_directory/_delete_form.html.twig') }}
</div>

    <h3 class="subtitle has-text-centered has-text-weight-bold">Selectionner les oeuvres de cette galerie</h3>
    <div class="columns is-multiline px-6 is-flex is-justify-content-center">
        {% for oeuvre in oeuvres %}
            {% if oeuvre.fileName %}
                <a class="column is-relative is-flex is-flex-direction-column is-justify-content-space-evenly is-align-items-center is-one-fifth is-full-mobile has-text-centered add-remove-oeuvre-ajax {% if oeuvre.yearDirectory == year_directory %} opacity-1{% else %} opacity-05{% endif %}" href="{{ path('year_directory_add_oeuvre', {'id_gallery': year_directory.id, 'id_oeuvre': oeuvre.id }) }}">

                        <span class="icon tag is-light is-medium is-absolute is-top-075rem is-right-075rem has-text-info {% if oeuvre.yearDirectory != year_directory %}is-hidden{% endif %}">
                            <i class="fas fa-lg fa-check-circle"></i>
                        </span>

                    <img src="{{ asset('images/oeuvres/' ~ oeuvre.fileName) | imagine_filter('small') }}" alt="">
                    <div class="tag">
                        {{ oeuvre.titre }}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
