{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center py-6">

    <div class="column buttons is-full is-flex is-justify-content-start">
        <a class="button is-small is-dark" href="{{ path('year_directory_index') }}">Retour à la liste des galeries</a>
        <a class="button is-small is-dark" href="{{ path('gallery_year', {'id_gallery': year_directory.id}) }}">Parcourir cette galerie</a>
    </div>

    <h1 class="title"><span class="has-text-weight-light">Galerie</span> {{ year_directory.year }}</h1>

    {% if year_directory.fileName %}
        <img class="" src="{{ asset('images/years_directory_img/' ~ year_directory.filename ) | imagine_filter('small') }}" alt="{{ year_directory.title }}" title="{{ year_directory.fileName }}">
    {% else %}

        {% if year_directory.oeuvres is not empty and year_directory.oeuvres[0].filename %}
            <div class="column is-flex is-justify-content-center is-align-items-center">
                <img class="has-max-height-40vh has-border-white-5px" src="{{ asset('/images/oeuvres/' ~ year_directory.oeuvres[0].filename ) }}" alt="Couverture de galerie manquante" title="{{ year_directory.title }}">
            </div>
        {% endif %}

        <div class="column has-text-centered">
            <h3 class="subtitle">
                Aucun fichier image uploadé pour cette galerie
            </h3>
            <div class="help pb-6 text-icon">
                <span class="icon">
                    <i class="fas fa-lg fa-info-circle"></i>
                </span>
                Si aucun fichier image n'a été uploader, l'image de la première oeuvre sera affichée en couverture
            </div>
        </div>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ year_directory.year }}</td>
            </tr>
            <tr>
                <th>Sous-titre</th>
                <td>{{ year_directory.title }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ year_directory.fileName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="column is-full is-flex is-justify-content-space-evenly">
        <a class="button is-small is-dark is-outlined mr-5" href="{{ path('year_directory_edit', {'id': year_directory.id}) }}">Modifier</a>

        {{ include('year_directory/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
