{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center py-6">

    <div class="column is-full is-flex is-justify-content-start">
        <a class="button is-small is-dark" href="{{ path('year_directory_index') }}">Retour à la liste des galeries</a>
    </div>

    <h1 class="title"><span class="has-text-weight-light">Galerie</span> {{ year_directory.title }}</h1>

    {% if year_directory.fileName %}
        <img class="" src="{{ asset('images/years_directory_img/' ~ year_directory.filename ) | imagine_filter('small') }}" alt="{{ year_directory.title }}" title="{{ year_directory.fileName }}">
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ year_directory.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ year_directory.title }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ year_directory.year }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ year_directory.fileName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="column is-full is-flex is-justify-content-space-evenly">
        <a class="button is-small is-dark is-outlined mr-5" href="{{ path('year_directory_edit', {'id': year_directory.id}) }}">Modifier</a>

        {{ include('year_directory/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
