<!doctype html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mon site | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block fonts %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        {% endblock %}

    </head>

    <header>
        {% block header %}
            {{ include('includes/layeout/header.html.twig') }}
        {% endblock %}
    </header>


    {{ include('includes/flash_message.html.twig') }}

    <body class="has-navbar-fixed-top is-relative z-index-less-1 has-background-light">
        <section class="section" style="min-height: 80vh">
            {% block body %}{% endblock %}
        </section>
    </body>

    {% block footer %}
        {{ include('includes/layeout/footer.html.twig') }}
    {% endblock %}

{% block script %}

    <script>
        function burgerAnimation(object) {
            object.classList.toggle("change");
        }

        function slideFromRight(id) {
            let object = document.getElementById(id);
            object.classList.toggle("is-left-0");
            object.classList.toggle("is-left-100");
            object.classList.toggle("opacity-0");
            object.classList.toggle("opacity-1");
            let html = document.querySelector("html");
            html.classList.toggle("has-scrollbar-hidden");
        }

        function changeTargetOpacity(targetsClassName, container) {
            container.querySelectorAll(targetsClassName).forEach(function (elem) {
                elem.classList.toggle("opacity-1");
            });
        }

    </script>

    {#  JS POUR MODAL BULMA (POPUP)  #}
    <script>
        let popupBtn = document.querySelectorAll('.btn-for-display-popup');
        popupBtn.forEach(function (element) {
            element.addEventListener('click', function () {
                let modal = element.previousElementSibling;
                modal.style.display = 'flex';
                setTimeout(function(){
                    modal.classList.toggle("opacity-0");
                    modal.classList.toggle("opacity-1");
                    }, 100);
                let html = document.querySelector("html");
                html.classList.toggle("has-scrollbar-hidden");
            });
        });

        function closeModal(element) {
            element.parentElement.classList.toggle("opacity-0");
            element.parentElement.classList.toggle("opacity-1");
            setTimeout(function(){
                element.parentElement.style.display = 'none';
            }, 300);
            let html = document.querySelector("html");
            html.classList.toggle("has-scrollbar-hidden");
        }
    </script>
    {#                               #}

    {#  JS POUR DEL AUTO NOTIF (FLASH-MESSAGE)  #}
    <script>

        let notifBlocks = document.querySelectorAll('.notification').forEach(elem => delAutoFlashMsg(elem));

        function delAutoFlashMsg(notifBlock){
            notifBlock.classList.toggle('has-transition-5-ms');
            setTimeout(function (){
                notifBlock.classList.toggle('opacity-0');
                setTimeout(function () {
                    notifBlock.remove();
                },500);
            },5000)
        }

        function delAutoFlashMsgAjax(notifBlockAjax){
            notifBlockAjax.firstElementChild.classList.toggle('has-transition-5-ms');
            setTimeout(function (){
                notifBlockAjax.firstElementChild.classList.toggle('opacity-0');
                setTimeout(function () {
                    notifBlockAjax.firstElementChild.remove();
                },500);
            },5000)
        }

    </script>
    {#                               #}

    {#  JS POUR MONTRER LELEMENT PRECEDENT AU SURVALAGE DE LA SOURI  #}
    <script>
        function showPrevOnHover(object){
            object.previousElementSibling.classList.remove('is-hidden');
        }

        function hidePrevOnHover(object){
            object.previousElementSibling.classList.add('is-hidden');
        }
    </script>
    {#                               #}



    {#               SCRIPT POUR AJAX                   #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {#  JS POUR AJAX ADD/REMOVE OEUVRE TO/FROM GALLERY  #}

    <script>
        function addRemoveOeuvre(event){
            event.preventDefault();
            const url = this.href;
            let blockImg = this;
            let checkIcon = this.querySelector('span');
            let notifAjaxBlock = document.getElementById('notification-ajax');
            blockImg.classList.toggle('opacity-1');
            blockImg.classList.toggle('opacity-05');
            checkIcon.classList.toggle('is-hidden');

            axios.get(url).then(function (response) {
                notifAjaxBlock.innerHTML += "            <div class=\"notification is-"+ response.data['type'] +" my-2 mx-2 flash-msg has-text-centered is-light\">\n" +
                    "                <button class=\"delete\" onclick=\"this.parentElement.parentElement.removeChild(this.parentElement);\"></button>\n" +
                    "                <div class=\"is-flex\">\n" +
                    "                    <div class=\"is-flex is-align-items-center is-justify-content-center\">\n" +
                    "                        <span class=\"icon px-5\">\n" +
                    "                            <i class=\"fas fa-lg fa-info-circle\"></i>\n" +
                    "                        </span>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"container\">"+ response.data['flash_message'] +"</div>\n" +
                    "                </div>\n" +
                    "            </div>";
                delAutoFlashMsgAjax(notifAjaxBlock);
            })
        }
        let addRemoveOeuvreBtns = document.querySelectorAll('a.add-remove-oeuvre-ajax');
        addRemoveOeuvreBtns.forEach(function (element){
            element.addEventListener('click' || 'touchstart', addRemoveOeuvre);
        });
    </script>
    {#                               #}


    <script>

        function removeClass(targetId, classToRemove) {
            document.querySelectorAll('.menu-burger-block-right').forEach(function (elem) {
                elem.classList.add(classToRemove);
            });
            document.getElementById(targetId).classList.remove(classToRemove);
        }

    </script>

{% endblock %}

</html>


