{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Accueil
            </h1>
            <p class="subtitle">
                My first website with <strong>Bulma</strong>!
            </p>


            {% set i = 0 %}
            {% for year in years %}

                <a class="is-boxed-like is-upscaled-hover has-transition-5-ms has-no-text-decoration {% if i is odd %} has-background-grey-lighter{% endif %}" href="{{ path('gallery_year', {'year': year.year }) }}">

                    {% if not year.filename %}
                        <div class="column is-flex is-justify-content-center">
                            <img class="has-max-height-30vh" src="{{ asset('build/images/480x600.603e1bf2.png') }}" alt="{{ year.title }}">
                        </div>
                    {% endif %}

                    <h2 class="subtitle has-text-centered">
                        {{ year.title }}
                    </h2>

                    <div class="is-flex is-justify-content-center column">
                            <span class="tag is-size-2 is-info has-text-weight-bold">
                                {{ year.year }}
                            </span>
                    </div>

                </a>

                {% set i = i+1 %}
            {% endfor %}


{#            {% set i = 0 %}#}
{#            {% for oeuvre in oeuvres %}#}

{#                    <a class="box is-upscaled-hover has-transition-5-ms {% if i is odd %} has-background-white-ter{% endif %}" href="{{ path('gallery_year', {'year': oeuvre.annee }) }}">#}

{#                        <div class="column is-flex is-justify-content-center">#}
{#                            <img class="has-max-height-40vh" src="{{ asset('build/images/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}">#}
{#                        </div>#}

{#                        <h2 class="subtitle has-text-centered">#}
{#                            {{ oeuvre.titre }}#}
{#                        </h2>#}

{#                        <div class="is-flex is-justify-content-center column">#}
{#                            <span class="tag is-size-2 is-info has-text-weight-bold">#}
{#                                {{ oeuvre.annee }}#}
{#                            </span>#}
{#                        </div>#}

{#                    </a>#}

{#                {% set i = i+1 %}#}
{#            {% endfor %}#}

        </div>
    </section>
{% endblock %}
