{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Accueil
            </h1>
{#            <p class="subtitle">#}
{#                My first website with <strong>Bulma</strong>!#}
{#            </p>#}


            <div class="columns is-multiline is-justify-content-center">
                {% set i = 0 %}
                {% for year in years %}

{#                    {% if i is odd %}{% endif %}#}

                        <div class="mx-5 is-relative is-boxed-like has-transition-5-ms has-no-text-decoration is-flex is-flex-direction-column is-justify-content-space-evenly {% if i == 0 %} column is-full {% else %} column is-one-third is-one-quarter-desktop{% endif %}" onmouseenter="setOpacity1OnHover('.target-change-opacity', this)" onmouseleave="setOpacity1OnHover('.target-change-opacity', this)">

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('year_directory_edit', {'id': year.id}) }}" class="button is-dark is-small is-absolute is-top-0 is-left-0">
                                    Editer la galerie
                                </a>
                            {% endif %}

                            <div class="px-1 py-1 z-index-less-1 is-absolute is-top-0 is-left-0 is-width-100 is-height-100 is-flex is-justify-content-center is-align-items-center">
                                {% if not year.filename %}
                                    <div class="opacity-0 target-change-opacity has-transition-5-ms" style="filter: blur(5px);background:center / cover no-repeat url({{ asset('/images/oeuvres/') }}{{ year.oeuvres[0].filename }});width: 100%;height: 100%;">

                                    </div>
                                {% else %}
                                    <div class="opacity-0 target-change-opacity has-transition-5-ms" style="filter: blur(5px);background:center / cover no-repeat url({{ asset('/images/years_directory_img//') }}{{ year.filename }});width: 100%;height: 100%;">

                                    </div>
                                {% endif %}
                                <div class="has-background-light-transparent-50 is-absolute is-top-0 is-left-0 is-width-100 is-height-100">

                                </div>
                            </div>

                            <div class="is-flex is-justify-content-center">
                                <span class="is-size-2 has-text-info has-text-weight-bold has-font-playfair">
                                    {{ year.year }}
                                </span>
                            </div>

                            {% if not year.filename %}
                                <div class="column is-flex is-justify-content-center is-align-items-center">
                                    <img class="has-max-height-40vh has-border-white-5px" src="{{ asset('/images/oeuvres/') }}{{ year.oeuvres[0].filename }}" alt="{{ year.title }}" title="{{ year.title }}">
                                </div>
                            {% else %}
                                <div class="column is-flex is-justify-content-center is-align-items-center">
                                    <img class="has-max-height-40vh has-border-white-5px" src="{{ asset('/images/years_directory_img//') }}{{ year.filename }}" alt="{{ year.title }}" title="{{ year.title }}">
                                </div>
                            {% endif %}

                            <h2 class="subtitle has-text-centered has-font-playfair">
                                {{ year.title }}
                            </h2>

                            <div class="is-flex is-justify-content-center is-align-items-end">
                                <a href="{{ path('gallery_year', {'year': year.year }) }}" class="button is-normal is-outlined is-info has-transition-5-ms">Visionner cette galerie</a>
                            </div>

                        </div>

{#                    {% if i is odd %}{% endif %}#}

                    {% set i = i+1 %}
                {% endfor %}
            </div>

{#            {% set i = 0 %}#}
{#            {% for oeuvre in oeuvres %}#}

{#                    <a class="box is-upscaled-hover has-transition-5-ms {% if i is odd %} has-background-white-ter{% endif %}" href="{{ path('gallery_year', {'year': oeuvre.annee }) }}">#}

{#                        <div class="column is-flex is-justify-content-center">#}
{#                            <img class="has-max-height-40vh" src="{{ asset('build/images/') }}{{ oeuvre.fileName }}" alt="{{ oeuvre.fileName }}">#}
{#                        </div>#}

{#                        <h2 class="subtitle has-text-centered">#}
{#                            {{ oeuvre.titre }}#}
{#                        </h2>#}

{#                        <div class="is-flex is-justify-content-center column">#}
{#                            <span class="tag is-size-2 is-info has-text-weight-bold">#}
{#                                {{ oeuvre.annee }}#}
{#                            </span>#}
{#                        </div>#}

{#                    </a>#}

{#                {% set i = i+1 %}#}
{#            {% endfor %}#}

        </div>
    </section>
{% endblock %}
